/.vscode
/client.py
/create_app.py
/hashengine.py
/logs
/logs.log
/main.py
/manager.py
/private_key.pem
/public_key.pem
/rsa.py
/serverside.py
/settings.py
/testing.py
/tlibrairies.py
/tsettings.py
/wrapper.py
/_class.py
/_decorator.py
/_errors.py
/_file.py
/_logger.py
/__pycache__